.Pager{
    display: flex;
    justify-content: space-between;
    padding-bottom: 75px;
    position: relative;
}
.items{
    display: flex;
    gap: 20px;
}
.items button{
    border-radius: 30px;
}
.plus{
    padding: 7px 15px;
    border-radius: 70%;
    font-size: 25px;
    color: white;
    background: linear-gradient(0deg, #081E34, #081E34), #F0F0F0;
}
.to-do:focus{
    background: linear-gradient(0deg, #081E34, #081E34), #F0F0F0;
}
.items button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.plus:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.items button:focus {
    background: rgba(8, 30, 52, 0.42);
    color: white;
}
.plus:active{
    transform: translateX(1px);
}